<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cl.ip</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">

    <script src="/scripts/vendor/jquery-2.2.3.min.js"></script>
</head>

<body>

<div class="container">

    <form class="form-signin">
        <h2 class="form-signin-heading">Cl.ip</h2>
        <div class="input-group">
           <input type="url" id="url-to-shorten" class="form-control input-lg" placeholder="Paste a link to shorten it" autofocus autocomplete="off" required />
           <span class="input-group-btn">
               <button id="shorten-button" class="btn btn-lg btn-success btn-block" type="button">Shorten</button>
           </span>
        </div>

        <div class="form-group">
            <input type="url" id="short-url-result" class="form-control input-lg" readonly />
        </div>
    </form>

</div>

<script src="/scripts/shortener.js"></script>

<script id="inline-page-script">
    new Shortener("url-to-shorten", "shorten-button");
</script>

</body>
</html>
